body {
	font-size: 13px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	line-height:17px;
}

code, pre {
			background-color:#eee;
}


a {
	color : #00008B;
}

a:hover {
	background-color:#eee;
}

a.logo:hover {
background-color:#fff;
}

a:visited {
	color : Purple;
}

.logo { margin-right:5px;}

h1 {
	font-size: 20px;
	margin: 2px 0 15px 0;
}


h1 a { display:none; }

h2 {
	text-align: left;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
	margin: 0;
font-family:Courier;
padding-bottom:2px;
padding-top:7px;
}

h3 {
	font-size: 14px;
	margin: 5px 2px -10px 8px;
font-family:Georgia;
padding-bottom:3px;

}

h3.news {
color:#999;
text-align:right;
}

hr {
	border: 1px solid Silver;
}

img {
	border: 0;
}

table {
	margin-bottom: 10px;
}

p {
	margin: 10px 0 10px 8px;
}

ul {
	margin-left: 26px;
	padding-left : 0px;
}

li { 
	 margin-bottom:20px 
}

.screen {
	margin: 10px 5px 5px 5px;
}

.warning {
	border: 2px solid #CD5C5C;
	padding: 3px;
	margin: 10px 0 10px 8px;
}

#flags {
	margin: 5px 0 5px 0;
	float: right;
}

#footer {
	border-top: 1px solid #ccc;
	margin-top: 40px;
}

#page {
	margin: 10px auto 5px auto;
	width: 750px;
}

#menu {
	float: left;
	width: 256px;	
	text-align: right;
	padding: 0 10px 0 0;
	font-size: 14px;
}

#content {
	margin: 0 0 0 0px;
	padding: 5px;
}
