body {
    padding-top:50px;
    color:#777;
	background:#666;
}
body, p, li, input, button, select, textarea {
	font-family:;'Open Sans', sans-serif;
}
body, p, li {
    font-size:14px;
    line-height:20px;
}
h1, h2, h3 {letter-spacing: -1px;}

/* Links */
a {color:#18D;}
a:hover {color:#26B;}

/* Titles */
h1 {font-family:Courier;color: #196DB5;font-size:26px;font-weight:300;text-shadow: 0 1px -1px white;}
h1 a {color:white;}
h1 a:hover {color:white;text-decoration:none;}
h2 {color: #555;font-size:22px;font-weight:300;margin-bottom:10px;text-shadow: 0 1px -1px white;}
h3 {font-weight:normal;color:#444;margin-bottom: 10px;}
h4 {color: #444;margin-bottom: 2px;margin-top:10px;line-height:20px;}
h5 {color: #444;line-height:20px;}
h6 {line-height:20px; color:#AAA;}
.bold {font-weight:bold;}
.italic {font-style:italic;}

/* Hero unit */
.hero-unit {
    background:#666;
    border-bottom: 1px solid white;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
    border-radius: 0;
    margin: 0;
	margin-top:-50px;
    padding:0;
}
.hero-unit .container {
    padding: 40px 0 30px 0;
    text-shadow:0 -1px 1px black;
}

.hero-unit h1{color:#E9E9E9;font-size:40px;margin-top:12px;letter-spacing:-2px;text-shadow: 0 -1px -1px black;}
.hero-unit h2, .hero-unit h4 {color:#fff;line-height:24px;text-shadow: 0 -1px -1px black;}
.hero-unit h1 > img {vertical-align:top;}
.hero-unit ul.unstyled li {border-bottom:1px solid #000;border-top:1px solid #2B2B2B;padding:15px 0 15px 15px;}
.hero-unit ul.unstyled li:first-child {border-top:0;}
.hero-unit ul.unstyled, .hero-unit hr {border-bottom:1px solid #2B2B2B;}
.hero-unit .buttons {
    margin: 10px -15px 0 -15px;
    padding:20px 0;
}
.hero-unit hr {border-top:1px solid #000;}
.hero-unit .buttons a, .hero-unit iframe {vertical-align:middle;}
.hero-unit .divider-vertical {
    height:20px; 
    width:1px; 
    display:inline-block; 
    background-color:black; 
    border-right:1px solid #333;
    vertical-align:middle;
    margin:0 6px;
}
.hero-unit .github-btn-large .gh-btn, .hero-unit .github-btn-large .gh-count {
    padding: 2px 10px 2px 8px !important;
    font-size: 15px !important;
}
.hero-unit .btn-large {
    padding: 3px 10px 3px 6px;
    line-height: 22px;
}
.hero-unit .stitched {
     outline: 1px dashed #444;
     outline-offset: -5px;
     background: #2B2B2B;
     border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
}

/* Section */
.section {
    background: white;
    margin: -20px -20px 35px -20px;
    padding:19px;
    border:1px solid #DDD;
}

/*Footer*/
.footer {
    background: #151515;
    padding: 20px 10px 10px 10px;
    box-shadow: inset 0 15px 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: inset 0 15px 10px rgba(0,0,0,0.6);
    -moz-box-shadow:inset 0 15px 10px rgba(0,0,0,0.6);
	color:#999;
}

.footer a {
	color:#eee;
	font-weight:normal;
}

/* Footer bottom */
.footer.footer-btm {
    background:#151515;
    border-top: 1px solid #222;
	color:#999;
}

/* Responsive */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.above-footer {
	background:#eee;
	max-width:100%;
}
