# === EDIT FILE LOCATIONS BELOW ===

# Your todo.txt directory (this should be an absolute path)
#export TODO_DIR="/Users/gina/Documents/todo"
export TODO_DIR=$(dirname "$0")

# Your todo/done/report.txt locations
export TODO_FILE="$TODO_DIR/todo.txt"
export DONE_FILE="$TODO_DIR/done.txt"
export REPORT_FILE="$TODO_DIR/report.txt"

# You can customize your actions directory location
#export TODO_ACTIONS_DIR="$HOME/.todo.actions.d"

# == EDIT FILE LOCATIONS ABOVE ===

# === EDIT THE COMMANDS BELOW ===
# NOTE: The variables below allow you to change the commands for your own strings.
# For example, by doing: TODO_COMMAND_DO="done"
# will result in your "do" command to be renamed to "done" (e.g., ./todo.sh done 1).
export TODO_COMMAND_DO="done"               # default: "do"
export TODO_COMMAND_DEPRI="depri"           # default: "depri"
export TODO_COMMAND_DEPRI_SHORT="dp"        # default: "dp"
export TODO_COMMAND_ADD="add"               #default: "add"
export TODO_COMMAND_ADD_SHORT="a"           #defualt: "a"
export TODO_COMMAND_ADDM="addm"             #default: "addm"
export TODO_COMMAND_ADDTO="addto"           #default: "addto"
export TODO_COMMAND_APPEND="append"         #default: "append" 
export TODO_COMMAND_APPEND_SHORT="app"      #default: "app"
export TODO_COMMAND_ARCHIVE="archive"       #default: "archive" 
export TODO_COMMAND_DEL="del"               #default: "del" 
export TODO_COMMAND_DEL_ALT="rm"            #default: "rm" 
export TODO_COMMAND_HELP="help"   #default: "help" 
export TODO_COMMAND_HELP_SHORT="shorthelp"   #default: "shorthelp" 
export TODO_COMMAND_LIST="list"             #default: "list" 
export TODO_COMMAND_LIST_SHORT="ls"         #default: "ls" 
export TODO_COMMAND_LISTALL="listall"       #default: "listall" 
export TODO_COMMAND_LISTALL_SHORT="lsa"     #default: "lsa" 
export TODO_COMMAND_LISTFILE="listfile"     #default: "listfile" 
export TODO_COMMAND_LISTFILE_SHORT="lf"     #default: "lf" 
export TODO_COMMAND_LISTCON="listcon"     #default: "listcon" 
export TODO_COMMAND_LISTCON_SHORT="lsc"     #default: "lsc" 
export TODO_COMMAND_LISTPROJ="listproj" #default: "listproj" 
export TODO_COMMAND_LISTPROJ_SHORT="lsprj" #default: "lsprj" 
export TODO_COMMAND_LISTPRI="listpri"     #default: "listpri" 
export TODO_COMMAND_LISTPRI_SHORT="vip"     #default: "lsp" 
export TODO_COMMAND_MOVE="move"     #default: "move" 
export TODO_COMMAND_MOVE_SHORT="mv"     #default: "mv" 
export TODO_COMMAND_PREPEND="prepend"     #default: "prepend" 
export TODO_COMMAND_PREPEND_SHORT="pp"     #default: "prep" 
export TODO_COMMAND_PRI="priority"     #default: "pri" as in priority
export TODO_COMMAND_PRI_SHORT="pri"     #default: "p"
export TODO_COMMAND_REPLACE="replace"     #default: "replace"
export TODO_COMMAND_REPLACE_SHORT="rpl"     #default: "rpl"
export TODO_COMMAND_REPORT="report"     #default: "report"
export TODO_COMMAND_REPORT_SHORT="log"     #default: "rpt" 
export TODO_COMMAND_DEDUPLICATE="deduplicate"     #default: "deduplicate"
export TODO_COMMAND_DEDUPLICATE_SHORT="dedup" #default: "dedup"
export TODO_COMMAND_LISTADDONS="listaddons"     #default: "listaddons"
export TODO_COMMAND_LISTADDONS_SHORT="lsadd" #default: "lsadd"

# == EDIT COMMANDS ABOVE ===

# === COLOR MAP ===

## Text coloring and formatting is done by inserting ANSI escape codes.
## If you have re-mapped your color codes, or use the todo.txt
## output in another output system (like Conky), you may need to
## over-ride by uncommenting and editing these defaults.
## If you change any of these here, you also need to uncomment
## the defaults in the COLORS section below. Otherwise, todo.txt
## will still use the defaults!

# export BLACK='\\033[0;30m'
# export RED='\\033[0;31m'
# export GREEN='\\033[0;32m'
# export BROWN='\\033[0;33m'
# export BLUE='\\033[0;34m'
# export PURPLE='\\033[0;35m'
# export CYAN='\\033[0;36m'
# export LIGHT_GREY='\\033[0;37m'
# export DARK_GREY='\\033[1;30m'
# export LIGHT_RED='\\033[1;31m'
# export LIGHT_GREEN='\\033[1;32m'
# export YELLOW='\\033[1;33m'
# export LIGHT_BLUE='\\033[1;34m'
# export LIGHT_PURPLE='\\033[1;35m'
# export LIGHT_CYAN='\\033[1;36m'
# export WHITE='\\033[1;37m'
# export DEFAULT='\\033[0m'

# === COLORS ===

## Uncomment and edit to override these defaults.
## Reference the constants from the color map above,
## or use $NONE to disable highlighting.
#
# Priorities can be any upper-case letter.
# A,B,C are highlighted; you can add coloring for more.
#
# export PRI_A=$YELLOW        # color for A priority
# export PRI_B=$GREEN         # color for B priority
# export PRI_C=$LIGHT_BLUE    # color for C priority
# export PRI_D=...            # define your own
# export PRI_X=$WHITE         # color unless explicitly defined

# There is highlighting for tasks that have been done,
# but haven't been archived yet.
#
# export COLOR_DONE=$LIGHT_GREY

# There is highlighting for projects and contexts.
#
# export COLOR_PROJECT=$RED
# export COLOR_CONTEXT=$RED

# === BEHAVIOR ===

## customize list output
#
# TODOTXT_SORT_COMMAND will filter after line numbers are
# inserted, but before colorization, and before hiding of
# priority, context, and project.
#
# export TODOTXT_SORT_COMMAND='env LC_COLLATE=C sort -f -k2'

# TODOTXT_FINAL_FILTER will filter list output after colorization,
# priority hiding, context hiding, and project hiding. That is,
# just before the list output is displayed.
#
# export TODOTXT_FINAL_FILTER='cat'
